body{
  color:#212121;
  font-family:’Roboto’,sans-serif;
  font-family:’Raleway’,sans-serif;
  }
  
.barra{
  display:flex;
  padding:24px;
  justify-content:space-between;
  align-items:center;
}


.linkbarra:hover{
  text-decoration: none; /* Remueve la línea de debajo del enlace */
  border-bottom: 2px solid blue; /* Agrega una línea azul de 2 píxeles debajo del enlace */
}

.linkbarra a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 2%;
}
  
.logo{
  color:#2196F3;
  font-family:Raleway;
  font-size:26px;
  font-weight:700;
  line-height:1.2;
  text-decoration:none;
  margin-right:93px;
}

.fondo-negro {
  background-color: #2F303A;
  text-align: center;
}

.fondo-negro h1 {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  margin-top: 0;
  text-transform: uppercase;
}

footer {
  background-color: #2F303A;
  text-align: left;
}

footer a{
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-top: 0;
}

/*nav {
  display: flex;
  align-items: center;
}*/

/*nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;s
}*/

/*#mi{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;s
}}*/

li{
  margin-right: 10px;
}


/*Para quitar las viñetas de las imagenes*/
ul, ol {
  list-style: none;
}

.A-que ul {
    display: flex;
    flex-wrap: wrap;
}
.A-que li {
    flex-basis: calc(0% - 0px);
    margin: 0 13px;
}
  
.A-que {
    margin-left: 10px; 
    margin-right: 10px; 
}


.nuestro-equipo ul {
  display: flex;
  flex-wrap: wrap;
}
.nuestro-equipo li {
  flex-basis: calc(0% - 0px);
  margin: 0 13px;
}

.nuestro-equipo {
  margin-left: 10px; 
  margin-right: 10px; 
}

