body{
    margin:0;
    padding:0;
    background-color: #F5F4FA;
    color:#070707;   
}
h1{
    font-family:sans-serif;
    color:#070707; 
}
h2{
    font-family:sans-serif;
    color:#070707;
    text-align: center;
}
h3{
    font-family:sans-serif;
    color:#070707; 
}

nav {
  display: flex;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;s
}

li{
  margin-right: 20px;
}



/*Para quitar las viñetas de las imagenes*/
  ul, ol {
    list-style: none;
  }

  .A-que ul {
    display: flex;
    flex-wrap: wrap;
  }
  .A-que li {
    flex-basis: calc(0% - 0px);
    margin: 0 23px;
  }
  
.A-que {
    margin-left: 20px; 
    margin-right: 20px; 
 }


.nuestro-equipo ul {
  display: flex;
  flex-wrap: wrap;
}
.nuestro-equipo li {
  flex-basis: calc(0% - 0px);
  margin: 0 23px;
}

.nuestro-equipo {
  margin-left: 20px; 
  margin-right: 20px; 
}