body{
    margin:0;
    padding:0;
    background-color: #F5F4FA;
    color:#070707;   
}
h1{
    font-family:sans-serif;
    color:#070707; 
}
h2{
    font-family:sans-serif;
    color:#070707; 
}
h3{
    font-family:sans-serif;
    color:#070707; 
}

/*Para quitar las viñetas de las imagenes*/
  ul, ol {
    list-style: none;
  }

  /*Para que el menú de la barra de navegación se vea más ordenado*/
  .mi {
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
  .A-que ul {
    display: flex;
    flex-wrap: wrap;
  }
  .A-que li {
    flex-basis: calc(0% - 0px);
    margin: 0 23px;
  }
  
  .A-que {
    margin-left: 20px; /* ajusta el valor según lo que necesites */
    margin-right: 20px; /* ajusta el valor según lo que necesites */
 }


.nuestro-equipo ul {
  display: flex;
  flex-wrap: wrap;
}
.nuestro-equipo li {
  flex-basis: calc(0% - 0px);
  margin: 0 20px;
}

.nuestro-equipo {
  margin-left: 20px; /* ajusta el valor según lo que necesites */
  margin-right: 20px; /* ajusta el valor según lo que necesites */
}